*.pyc
*.bak
tmp
backup
logs
data/aptdir
data/Later.db
data/Seen.db
limnoria/data

# the debomatic plugins need some nodejs modules, available only via
# npm, don't track them.
plugins/Debomatic/node_modules
